body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
    color: black;
}

.nadbar img {
    width: 99%;
    height: 90px;
    object-fit: cover;
    display: block;
    margin: 5px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    border: 2px solid yellow;
    background-color: rgb(172, 5, 22);
}

.navbar a {
    flex: 1;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    font-weight: bold;
}

.navbar a:hover {
    background-color: gray;
}

.navbar a:active {
    text-decoration-line: none;
    color: white;
}

.navbar a:visited {
    text-decoration-line: none;
    color: white;
}

.content {
    background-color: white;
}

.content h1 {
    text-align: center;
    color: yellow;
    background-color: red;
}

.content .quote {
    text-align: center;
    font-style: italic;
}

p {
    text-align: justify;
    line-height: 1.6;
    margin: 20px;
    padding: 10px;
}