body {
    margin: 0;
    color: black;
    font-family: lucida;
    background-color: darkblue;
    padding-bottom: 60px;
}

header {
    height: 50vh;
    background-image: url("alex_huk_banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-block: 20px;
    border: 20px;
    border-color: black;
}

nav {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    background-color: lightskyblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 6px;
}

nav a:hover {
    background-color: blue;
    transform: scale(1.03);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    nav {
        width: 25%;
    }
}

.content {
    background-color: blue;
    height: 100%;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 0%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: darkslategray;
    color: white;
    padding: 10px;
    margin-top: 0%;
}

.article {
    display: none;
}

.article:target {
    display: block;
}

.ulohy {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.ulohy h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.links a {
    display: block;
    background-color: darkblue;
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease;
}

.links a:hover {
    background-color: lightseagreen;
    transform: scale(1.03);
}