body {
    margin: 0;
    color: black;
    font-family: lucida;
    background-color: darkblue;
    padding-bottom: 60px;
}

header {
    height: 50vh;
    background-image: url("alex_huk_banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-block: 20px;
    border: 20px;
    border-color: black;
}

nav {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    background-color: lightskyblue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 6px;
}

nav a:hover {
    background-color: blue;
    transform: scale(1.03);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    nav {
        width: 25%;
    }
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: solid 5px lightgreen;
}

.content {
    background-color: blue;
    padding: 20px 40px;
    margin: 40px auto;
    max-width: 900px;
    border-radius: 12px;
    color: white;
    line-height: 1.7;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: darkslategray;
    color: white;
    padding: 10px;
    margin-top: 0%;
}

.article {
    display: none;
}

.article:target {
    display: block;
}

article {
    background-color: gray;
    float: left;
    width: 45%;
    text-align: justify;
    margin-left: 20%;
}